<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login 2</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>
  <body>
    <div class="login">
      <img src="../static/images/Untitled-1.jpg" />
      <h3>خوش آمدید </h3>
      <h2>ثبت نام با گوگل</h2>

      <form class="login-form">
        <a href ='/loginbygoogle'><img src="../static/images/google.png" width="20px" alt="sign in by google auth"> <span> ورود با اعتبار سنجی گوگل </span></a>
      </form>
    </div>
  </body>
</html>
